<header><img src="logo.png" alt=""></header>
<!-- <p><%= exempl %></p> -->


<section class="section">
    <div class="formulario">

       <h1>LOGIN </h1>
       <p>Por favor, identifique-se para apanhar seu kit fruta (usuário e senha do moodle)</p>
       <p>Identificação do Usuário: </p>
       <input type="text" placeholder="Identificação do usuário">
       <p>Senha: </p>
       <input type="text"placeholder="Senha">
       <button id="login" type="submit">ENTRAR</button>
       
    </div>


 </section>