<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iFruta</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="./script.js"></script>
</head>

<body onload="teste()">
    <header><img src="logo.png" alt=""></header>

    <section class="container">
        <div class="container -imagem"> <img id="check_imagem" src="public/check.png" alt=""></div>
        <div class="container -mensagem">
            <h1 class="mensagem">SUCESSO!</h1>
            <p class="mensagem" id="mensagemData">Kit alimentação retirado no dia <%= data %> às <%= hora %>.</p>
            <input type="datetime" name="data" id="data">
            <input type="datetime" name="hora" id="">
        </div>



    </section>
</body>

</html>